@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.blog-title, .stories-title{
    font-family: 'Capriola', sans-serif;
    color: #253C74;
}

.card-sub-stories {
    margin-bottom: -2.5em;
}
/* .stories-title {
display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
} */

.desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7585AA;
    font-weight: 400;
}

.user-photo {
    border-radius: 50% !important;
    object-fit: cover;
    height: 3em; width: 3em;
}

.footer {
    background-color: #FAFAFA;
}

._search {
    background-color: #F8FAFF !important;
}

._search input{
    background-color: #F8FAFF !important;
}

.img-stories {
    width: 100%;
    height: 50%;
    object-fit: cover;
}